// import custom theme
@import 'bootstrap_theme'; // import full bootstrap framework
@import "~bootstrap/scss/bootstrap.scss"; // Import Piveau modules
@import "~/node_modules/@piveau/piveau-hub-ui-modules/dist/scss/main.scss";


.formulate-input-wrapper, #validationModal{

  font-family: "Open Sans";

}


.formulate-input[data-classification="group"] [data-is-repeatable] .formulate-input-group-repeatable {
  border-bottom: 1px solid #efefef;
}


.formulate-input-group-repeatable-remove:after {
  content:"\A\A";
  white-space: pre; /* or pre-wrap */
}

.formulate-input-group-repeatable-remove {
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  border-radius: 0 !important;
  transition: width 0.2s ease-in-out !important;
  display: flex !important;
  align-items: center;
  justify-content: left !important ;
  font-weight: bold;
}

.formulate-input-group-repeatable-remove:hover {
  height: 100% !important;
  top: 0 !important;
  right: 0 !important;
  border-radius: 0 !important;
  transition: width 0.2s ease-in-out !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.submit-label {

  background-color: var(--primary);
  border-color: var(--highlight);
  font-family: inherit;

}


.step-progress__step--active::after, .step-progress__step--valid::after {

  background-color: var(--primary);
  border-color: var(--primary);

}

#stepper .step-progress__step::after, #subStepper .step-progress__step::after {
  height: 45px;
  width: 45px;
  background-color: var(--passiveColor);
}

.property > .formulate-input-wrapper, .property > .formulate-input-help--after {

  padding-left: 25px;

}

.property > .formulate-input-wrapper {
  font-family: inherit;
  padding: 25px 20px 15px 25px;
}

#subStepperBox .step-progress__step {
  border: none !important;
}

.formulate-input-help--after {

  padding: 5px 20px 35px 0px;

}


.formulate .formulate-input[data-classification="button"] button[data-ghost],
.formulate-input-element > button {

  background-color: var(--primary);
  border-color: var(--highlight);
  padding: 5px 15px 5px 15px;

}



#nav{

  padding-bottom: 30px;

}

#nav button, #nav .clear-btn button, .dist-list button, button .default, #nav .prev-btn button {
  font-family: inherit;
  background-color: var(--primary) ;
  border-color: var(--primary) ;
  color: $white;
  font-family: "Open Sans";
  border: none;

}

.form-container {

  background-color: #fff;

}

div.form-container div div div.dist-list button.default {
  background-color: var(--primary) ;
  border-color: var(--primary) ;

}



// div#stepper.step-progress__wrapper div.step-progress__bar div.step-progress__step.step-progress__step--valid,
// div#subStepper.step-progress__wrapper div.step-progress__bar div.step-progress__step.step-progress__step--valid div.step-progress__step-label
//  {
//
//   --activeColor: #00838c !important;
//
//
// }



div.step-progress__step {

  --activeColor: #00838c !important;

}


.formulate .formulate-input[data-classification="button"] button[data-ghost] span {

  background-color: #0000;
  border-color: var(--highlight);
  padding: 10px 5px 10px 5px;

}

.formulate .formulate-input[data-classification="button"] button[data-ghost]:hover, {

  background-color: var(--highlight);
  border-color: var(--highlight);

}

#wrapper {

  background-color: var(--primary) !important;
  border-top: 2px solid  var(--highlight);

}

.formulate-input-element select, .formulate-input-element input, .formulate-input-element textarea {

  padding: 8px 5px 8px 15px;
  background-color: #dcdcdc;
  border: none;
  color: black;
  width: 100%;
  min-height: 40px;

}

.ok {

  background-color: var(--primary) !important;
  border: 0;
  font-size: 16px;
  font-family: "Open Sans" !important;


}

.list-group-item:first-child, .list-group-item:last-child {
  background-color: white;
}

.list-group-item:first-child:hover, .list-group-item:last-child:hover {
text-decoration: none;
background-color: #f8f9fa;
}
