// import custom theme
@import 'bootstrap_theme';

// import full bootstrap framework
@import "~bootstrap/scss/bootstrap.scss";

// Import Piveau modules
@import "@modules-scss/main.scss";




html,body,.app { min-height:100vh; }

.site-wrapper, .all-wrapper {
    min-height: 100vh;
    // position: relative !important;
  }


.dsd-properties-uriref {
  display:none;
}
.distribution-dropdown-download-one-url {
  margin-top: -0.35rem;
  text-align: left;
}


.text-jena-cyan{

  color: var(--jena-cyan)

}

.circle {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 12px;
  line-height: 1px;
  border-radius: 50%;
  background-color: #595959;
  &[type="HTML"] {
    background-color: #285C76;
  }
  &[type="JSON"] {
    background-color: var(--dark-orange);
  }
  &[type="XML"] {
    background-color: #8F4300;
  }
  &[type="TXT"] {
    background-color: #2B5E73;
  }
  &[type="CSV"] {
    background-color: var(--badge-green);
  }
  &[type="XLS"], &[type="Excel XLSX"] {
    background-color: #1A6537;
  }
  &[type="ZIP"] {
    background-color: #252525;
  }
  &[type="API"] {
    background-color: #923560;
  }
  &[type="PDF"] {
    background-color: #B30519;
  }
  &[type="SHP"] {
    background-color: var(--badge-black);
  }
  &[type="RDF"],
  &[type="NQUAD"],
  &[type="NTRIPLES"],
  &[type="TURTLE"] {
    background-color: #0b4498;
  }
}

.dsd-item {
  @extend .col-12, .col-lg-11, .offset-lg-1;
}

.dsd-feature {
  @extend .d-flex, .flex-wrap, .mt-5;
}

.dsd-feature-title {
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

.dsd-properties .show-more {
  display: none;
}
@media screen and (max-width: 991px) {
  // less than lg
  .dsd-nav-button button {
    min-width: 200px !important;
    margin-bottom: 8px !important;
  }

  .dsd-features {
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  #jenaSubHeader div {
    flex-direction: column;
  }

  #jenaSubHeader button {
    width: 55px;
    border-color: rgb(255, 255, 255, 0.5);
  }

  #selectWrapJena {
    flex-direction: row;
    justify-content: right !important;
  }

  #navbarNav div {
    flex-direction: row !important;
  }

  #navbarNav {
    margin-top: 1rem !important;
    flex-direction: row !important;
  }

  #subNavigation {
    padding-top: 10px;
  }
}

.mt-4 {
  margin-top: 30px !important;
}

.mb-4 {
  margin-bottom: 30px !important;
}

#navbar-toggle {
  margin-bottom: 0 !important;
}

.list-group-item:first-child {
  background-color: #009aa522;
}

.list-group-item:last-child {
  background-color: inherit;

  &.active {
    background-color: var(--primary);
  }
}

.alert-primary {
  background-color: #009aa522 !important;
}

.search-button:hover {
  background-color: var(--highlight) !important;
  border-color: var(--highlight) !important;
}

.btn-color:hover {
  background-color: var(--highlight) !important;
  border-color: var(--highlight) !important;
}

.nav-tabs {
  border-bottom-width: 0;
  background-color: #009aa511;
}

.nav-tabs .nav-link, .router-link-active {
  border-radius: 0;
  color: #000b !important;

  &.active {
    background-color: #009aa533;
    color: #000b !important;
    border-bottom-width: 0!important;
    border-bottom: 2px solid #000b !important;
  }

  &:hover {
    background-color: none;
    color: #FFF;
  }
}

.btn-group {
  margin-bottom: 0 !important;
}

.border-radius-end,
.border-radius-start,
.custom-middle-button {
  border-width: 0 !important;
  border-radius: 0 !important;
  background-color: inherit !important;
  color: #000b !important;
}

.button-color-grey {
  background-color: #009aa533 !important;
  color: #000b !important;
}

.disabled .page-link {
  color: #999 !important;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.page-link {
  color: #006b73;
}

.page-item > .next-button,
.page-item > .prev-button {
  color: #333 !important;
}

.format-badge {
  color: #fff;
  background-color: #595959;
  margin: 2px;
  line-height: 18px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0);
}

.btn-primary {
  color: #fff;
  background-color: #00838c;
  border-color: #00838c;
}

.btn-color[data-v-51230ede] {
  background-color: #00838c;
  border-color: #00838c;
}

.facet .list-group-item > span {
  background-color: #00838c;
}

.dataset-info-box-body img {
  content: url("../assets/img/img-not-available.png");
  border: none !important;
}

.dataset-details-title {
  padding-left: 20px;
  padding-top: 10px;
}

.dsd-title-tag > span {
  padding: 10px;
  background-color: var(--primary);
  color: white;
}

.keywords__item a small {
  background-color: var(--primary);
  font-size: medium;
}

.keywords__item .tag-color {
  background-color: var(--primary);
}

.alert-dismissible .close,
.alert-dismissible .close > span {
  color: #000;
  opacity: 1;
}

.distributions__item .text-muted {
  color: #000A !important;
}



.additional-information table {
  background-color: #DDD4 !important;
}

.additional-information table a {
  color: #333;
}

.additional-information-overlay {
  display: none;
  background: #FFF;
}

.dimension-accessibility,
.dimension-contextuality,
.dimension-findability,
.dimension-interoperability,
.dimension-reusability {
  background: none !important;
  background-color: var(--primary) !important;
}

.badge-yes-accessibility,
.badge-yes-contextuality,
.badge-yes-findability,
.badge-yes-interoperability,
.badge-yes-reusability {
  background-color: #0004 !important;
}

#accordion .collapse,
#accordion .distribution {
  background: none;
  background-color: var(--primary);
}

#accordion .badge-no,
#accordion .badge-yes,
#accordion .dist-content {
  background: none;
  background-color: rgba(0,0,0,.12);
}

#accordion .list-group-item:first-child {
  background: none;
}

#accordion .keys {
  background: none;
  color: #fff;
}

.dsd-header-info .flag {
  display: none;
}

.dataset-info-box-footer .dataset-info-box-footer-catalog-img {
  display: none;
}

.distributions__actions .btn-secondary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: var(--primary);
}

// Leaflet
.leaflet-control-attribution a {
  text-decoration: none;
}

.leaflet-container a {
  color: #273660 !important;
}

.map-modal-button {
  background-color: #000;
  border-color: #0004;
}

// Deactivate "download as" button until service is released.

// .distribution-action div.dropdownMenu span.justify-content-end { // Hide download as option in ditribution actions
//   display: none !important;
// }

// Hide unused features from dataset menu page (  Qualität - Ähnliche Datensätze ).
ul.mr-auto {
  & li:nth-child(3), & li:nth-child(4) {
    display: none;
  }
}

// Hide unused features from dataset menu page (  Feedback - Teilen  ).
.dsd-nav-links > ul {
  & #shareDatasetDropdownMenuLink, & .underline {
    display: none;
  }
}

// Hide unused features from distribution sections ( Options ).
.distribution-actions div.text-nowrap:nth-child(1){

  display: none !important;

}

.datasets-container {
  /* Wrapper of Datasets with top navigation (not the header) */
  // background-image: url("../assets/img/jena/background-pattern-turquoise.png");

  .datasets {
    box-shadow: 0 0 20px white;
    margin-bottom: 100px;
    padding-bottom: 60px;
    /* Wrapper of Datasets */
    h1 {
      /* Datasets Header */
    }
    .datasets-found {
      /* Wrapper of banner showing how many Datasets found */
      div {
        /* Banner text */
      }
    }
  }
}


.site-wrapper{
  background-color: rgba(255, 255, 255, 0.8);
  display: block !important;
  background-image: url("../assets/img/jena/background-pattern-turquoise_75.png");
}


.site-wrapper .container-fluid.catalogs.content, .dsd-content {
  box-shadow: 0 0 20px white;
  margin-bottom: 100px;
  margin-top: 60px;
  padding-bottom: 60px;

}

datasets-filters-navigation.d-flex.cursor-pointer li.nav-item.mb-0
{

display: none;

}

li.mb-0:nth-child(3){

  display: none;

}

.dataset-info-box:hover {
  box-shadow: 0 2px 10px var(--jena-light) !important;
  cursor: pointer;
}

.catalogs{

  box-shadow: 0 0 20px white;
  background-color: white;
}

html body div.app div.site-wrapper div.d-flex.flex-column.p-0.bg-transparent.content div.container-fluid.mb-5.pt-1.content.dsd-content div div.dsd-dataset div.mt-1.dsd-distributions div.row div.w-100 div.dsd-item.d-flex.justify-content-between.align-items-center {

  margin-left: 0;
  padding-bottom: 40px;

}

html body div.app div.site-wrapper div.d-flex.flex-column.p-0.bg-transparent.content div.container-fluid.mb-5.pt-1.content.dsd-content div div.dsd-dataset div.mt-1.dsd-distributions div.row div.w-100 div.dsd-item.d-flex.justify-content-between.align-items-center h2 {

  font-weight: 900;
  color: var(--jena-cyan);

}

html body div.app div.site-wrapper div.d-flex.flex-column.p-0.bg-transparent.content div.container-fluid.mb-5.pt-1.content.dsd-content hr{

  display: none;

}

.sub-navigation, #subNavigation {
  display: none !important;
}

.site-wrapper > .content{

  margin-top: 60px !important;
  padding-top: 30px !important;

}

.datasets-container > .datasets, .content > .dsd-content {
  margin-top: 0px !important;
  padding-top: 0px !important;


}



.keywords__item span a {

  color: white;
  font-weight: bold;

}

.keywords__item {
  margin-left: 30px !important;
  margin-right: 30px !important;
}



.distributions__item{
  padding-bottom: 20px;
}

.distributions {

  margin-left: 30px;
  margin-right: 30px;

}

// import empty theme after styles are loaded
@import "empty_theme";
@import "datasets_catalogs";
