<!-- Wraps all IMPRINT components -->

<template>
  <div class="imprint container">
    <slot>
      https://smartcity.jena.de/impressum
    </slot>
    </div>
</template>

<script>
  // Import Components
  // import UserImprint from './user/UserImprint.vue';

  export default {
    name: 'imprint',
    metaInfo: function() {
      const title = this.$t('message.navigation.navItems.imprint');
      return {
        title,
        meta: [
          {
            name: 'description',
            vmid: 'description',
            content: `${this.$t('message.navigation.navItems.imprint')} - ${this.$env.metadata.description}`
          },
          {
            name: 'keywords',
            vmid: 'keywords',
            content: `${this.$env.metadata.keywords} ${this.$t('message.navigation.navItems.imprint')}`
          }
        ]
      }
    },
    data() {
      return {};
    },
    methods: {},
  };
</script>
