<template>
<div id="landing-page" class="">
  <div class="container-fluid content">
    <h1 class="row col-12 text-primary"></h1>
    <div class="row">
      <div class="col-12">
        <h1 class="text-primary">
          <span>WISSENsAllmende Jena</span>
        </h1>
      </div>
      <div class="col-12 col-sm-12">
        <br>
        <br>
      </div>
      <div class="col-sm-12 col-md-6">
        <p>Herzlich willkommen auf dem Jenaer Datenportal WISSENsAllmende! Hier sind Daten aus allen Bereichen von Verwaltung und st&auml;dtischen Unternehmen zu finden. Wir unterscheiden vier Datentypen, deren Datens&auml;tze &uuml;ber Kataloge der
          Software PIVEAU auffindbar sind: </p>
        <p><router-link class="" :to="{ name: 'CatalogueDetails', params: { ctlg_id: 'event-wissensallmende-jena', }, query: { locale: 'de', } }">Echtzeit- und Sensordaten</router-link></p>
        <p><router-link class="" :to="{ name: 'CatalogueDetails', params: { ctlg_id: 'modeldata-wissensallmende-jena', }, query: { locale: 'de', } }">Gegenst&auml;nde im &ouml;ffentlichen Raum</router-link></p>
        <p><router-link class="" :to="{ name: 'CatalogueDetails', params: { ctlg_id: 'datacube-wissensallmende-jena', }, query: { locale: 'de', } }">Controlling- und Statistikdaten</router-link></p>
        <p><router-link class="" :to="{ name: 'CatalogueDetails', params: { ctlg_id: 'wissensallmende-jena', }, query: { locale: 'de', } }">Dokumente, Open Data</router-link> (einschlie&szlig;lich der Daten des bisherigen Portals)</p>
        <p>&hellip; oder Sie schauen <router-link class="" to="/datasets">alles auf einmal</router-link> an.</p>
        <p>Hier ist eine <a target="_blank" href="https://smartcity.jena.de/wissensallmende/anleitung">Anleitung</a> zur Benutzung des Portals.</p>
        <p>Die WISSENsAllmende beruht auf einer umfassenden <a target="_blank" href="https://smartcity.jena.de/wissensallmende/technik-und-systemarchitektur">Plattformarchitektur</a>, die wir Schritt f&uuml;r Schritt verwirklichen. Damit schaffen wir eine moderne
          und zukunftsf&auml;hige Dateninfrastruktur. N&auml;here Informationen zum Gesamtprojekt finden Sie auf <a target="_blank" href="https://smartcity.jena.de/">Smart City Jena</a></p>

      </div>
      <div class="col-12">
        <br />
        <br />
        <br />
      </div>
    </div> <!-- Section: Das Team   -->
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3 class="">Das Team</h3>
      </div>
      <div class="col-12 col-sm-12">
        <br>
      </div>
      <div class="col-sm-2 col-md-2">
        <div class="logo-row">
          <a target="_blank" href="https://smartcity.jena.de/"><img class="img-fluid partner-logo" src="../assets/img/smart_city_jena.png" alt=""></a>
        </div>
      </div>
      <div class="col-sm-2 col-md-2 d-flex align-items-center">
        <div class="logo-row align-middle">
          <span class="logo-row align-middle" style="height:100%">
            <a target="_blank" class="logo-row align-middle" href="https://www.fokus.fraunhofer.de/"><img class="img-fluid partner-logo" src="../assets/img/fraunhofer.png" alt="Fraunhofer Fokus Logo"></a>
          </span>
        </div>
      </div>
      <div class="col-12 col-sm-12">
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <br />
        <br />
        <br />
      </div>
    </div>
  </div>
</div>
</template>
<script>
export default {
  name: "LandingPage",
  methods: {
    onClick() {
      if (typeof this.action === "function") this.action();
    }
  }
}
</script>
<style scoped>
@import "../styles/landing_page.scss";

.partner-logo {
  max-width: 120px;
  vertical-align: middle;
}

.logo-row {
  display: inline;
  vertical-align: middle;
  display: block;
}

#landing-page .container-fluid{

  box-shadow: 0 0 20px white;
  background-color: white;

}

</style>
