<!-- Wraps all PRIVACY POLICY components -->

<template>
  <div class="privacy-policy container">
    <slot>
      https://smartcity.jena.de/datenschutz
    </slot>
  </div>
</template>

<script>
  // import UserPrivacyPolicy from './user/UserPrivacyPolicy.vue';

  export default {
    name: 'PrivacyPolicy',

    metaInfo: function() {
      return {
        title: this.$t('message.navigation.navItems.privacyPolicy'),
        meta: [
          {
            name: 'description',
            vmid: 'description',
            content: `${this.$t('message.navigation.navItems.privacyPolicy')} - ${this.$env.metadata.description}`
          },
          {
            name: 'keywords',
            vmid: 'keywords',
            content: `${this.$env.metadata.keywords} ${this.$t('message.navigation.navItems.privacyPolicy')}`
          },
        ]
      }
    },
    data() {
      return {};
    },
    methods: {},
  };
</script>

<style lang="scss" scoped>
</style>
