<template>
    <div class="flex-row align-items-center col-12 col-lg-10 mb-3 px-0 dsd-header-title justify-content-between">
      <h1 class="d-none d-lg-block dataset-details-header-title" data-cy="dataset-title">{{ getTranslationFor(getTitle, $route.query.locale, getLanguages) }}</h1>
      <br>
      <div class="d-lg-block-none dsd-title-tag">
        <span>
          {{$t('message.metadata.dataset').toUpperCase()}}
        </span>
      </div>

      <div class="">
        <br>
      </div>
    </div>
  </template>

  <script>
  import {getTranslationFor} from "@piveau/piveau-hub-ui-modules";
  import {mapGetters} from "vuex";

  export default {
    name: "DatasetDetailsHeaderTitle",
    methods: {
      getTranslationFor
    },
    computed: {
      ...mapGetters('datasetDetails', [
        'getLanguages',
        'getTitle',
      ]),
    }
  }
  </script>

  <style scoped lang="scss">
  .dataset-details-header-title {
    // font-size: 28px;
    margin-bottom: 0.5rem;
    font-family: inherit;
    // font-weight: 600;
    line-height: 120%;
    color: var(--jena-cyan);
  }



  </style>
