<template>
  <div class="">
    <div class="row mt-4 mb-4 dsd-description" data-cy="dataset-description">
      <div v-if="getDatasetDescription !== 'No description available'" class="col-12 col-lg-11 offset-lg-1 dsd-description-content" property="dc:description">
        <app-markdown-content v-if="$env.content.datasetDetails.description.enableMarkdownInterpretation" :text="truncate(getDatasetDescription, datasetDescriptionLength)">
        </app-markdown-content>
        <p v-else style="word-wrap:break-word;">
          <span class="mr-2">{{ truncate(getDatasetDescription, datasetDescriptionLength) | stripHtml }}</span>
        </p>
        <pv-show-more v-if="isDatasetDescriptionExpanded || (datasetDescriptionLength < getDatasetDescriptionLength)" :label="isDatasetDescriptionExpanded? $t('message.metadata.showLess') : $t('message.metadata.showMore')"
          :upArrow="isDatasetDescriptionExpanded" :action="toggleDatasetDescription" class="row text-primary" />
      </div>
      <div v-else class="col-10 offset-1 text-muted font-italic dsd-description-content">
        <p style="word-wrap:break-word;">
          {{ $t('message.catalogsAndDatasets.noDescriptionAvailable') }}
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import {
  AppMarkdownContent,
  getTranslationFor,
  truncate
} from "@piveau/piveau-hub-ui-modules";
import {
  mapGetters
} from "vuex";
import filtersMixin from '@/components/mixins/filters.ts'
import DatasetDetailsSimilarDatasetsCarousel from './DatasetDetailsSimilarDatasetsCarousel'

export default {
  name: "DatasetDetailsDescription",
  components: {
    AppMarkdownContent,
    DatasetDetailsSimilarDatasetsCarousel
  },
  mixins: [filtersMixin],
  data() {
    return {
      isDatasetDescriptionExpanded: false,
      datasetDescriptionLength: 500,
      INITIAL_DATASET_DESCRIPTION_LENGTH: 500,
      MAX_DATASET_DESCRIPTION_LENGTH: 100000
    }
  },
  computed: {
    ...mapGetters('datasetDetails', [
      'getDescription',
      'getLanguages',
      'getSimilarDatasets'
    ]),
    getDatasetDescription() {
      return getTranslationFor(this.getDescription, this.$route.query.locale, this.getLanguages);
    },
    getDatasetDescriptionLength() {
      return this.getDatasetDescription ? this.getDatasetDescription.length : 0;
    }
  },
  methods: {
    truncate,
    toggleDatasetDescription() {
      this.isDatasetDescriptionExpanded = !this.isDatasetDescriptionExpanded;
      if (this.datasetDescriptionLength === this.INITIAL_DATASET_DESCRIPTION_LENGTH) this.datasetDescriptionLength = this.MAX_DATASET_DESCRIPTION_LENGTH;
      else this.datasetDescriptionLength = this.INITIAL_DATASET_DESCRIPTION_LENGTH;
    }
  }
}
</script>

<style scoped>
.dsd-description {
  background-color: #F7F7F7;
  /* width: 90%; */
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.dsd-description-content {
  padding: 50px 2.5rem 1.5rem;
}

.dsd-description-content h5 {
  color: var(--jena-cyan);
}

.dsd-description-content h2 {
  color: var(--jena-cyan);
  margin-bottom: 40px;
  font-size: 20px;
  line-height: 150%;
  font-weight: 700;
}

.dsd-description-show-more {
  width: 100%;
  color: black !important;
  margin-top: 20px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.dataset-details-description-title {
  /* border: none !important; */
  color: var(--gray);
  background-color: #F7F7F7;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px black;
}


.dataset-details-tab.active {
  background-color: #F7F7F7 !important;
  color: var(--jena-cyan) !important;
  border: none;
}

.dataset-details-tabs .button .active {
  background-color: #F7F7F7;
}

.dataset-details-tabs-content {
  background-color: #F7F7F7;
}

@media screen and (max-width: 991px) {
  .dsd-description {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  [data-alt-text]>span {
    display: none;
  }

  [data-alt-text]::before {
    content: attr(data-alt-text);
  }
}
</style>
