<template>
   <div class="">
          <h2 class="dsd-feature-title">{{ title }}</h2>
    </div>
  </template>

  <script>
  export default {
    name: "DatasetDetailsFeatureHeader",
    props: {
      onClick: Function,
      title: String,
      tag: String,
      arrowDown: Boolean
    }
  }
  </script>

  <style lang="scss">

  .dsd-feature-title {
    color: var(--jena-cyan);
    padding-left: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
  }

  @media screen and (max-width: 991px) {
    .dsd-feature-header-arrow-container {
      width: 48px !important;
      order: 2;
      padding-right: 15px;
    }

    .dsd-feature-title {
    padding: 0 15px !important;
    }
  }


  </style>
