<template>
<div id="piveau-footer">
  <footer role="contentinfo">
    <div class="container-fluid">
      <div class="footer-holder">
        <div class="row">
          <div class="col-xl-4 col-4 col-sm-12 d-flex d-xl-block mb-5 mb-md-5  justify-content-xxl-start">
            <div class="footer-logo-address d-flex row">
              <div class="footer-logo col-md-6">
                <img src="../assets/logos_Jena/jena-smartcity-light.svg" class="light-logo img-fluid" alt="logo">
              </div>
              <div class="col-md-6 col-lg-6 col-xl-12">
                <div>
                  <br>
                  <p><u>Standort:</u><br>
                    Stadt Jena<br>
                    Am Anger 28<br>
                    07743 Jena</p>
                  <p><u>Postanschrift:</u><br>
                    Postfach 100338<br>
                    07703 Jena</p>
                </div>
              </div>
              <!--/.footer-address-->
            </div>
            <!--/.footer-logo-address-->
          </div>
          <!--/.col-->
          <div class="col-xl-3 col-3 col-sm-12  d-flex d-xl-block mb-5 mb-md-5  justify-content-xxl-start ">
            <div class="d-flex row">
              <div class="col-md-6 col-lg-6 col-xl-12">
                <p><a target="_blank" href="https://smartcity.jena.de/smart-city/kontaktformular" title="Zum Kontaktformular">Kontaktformular</a><br>
                  Telefon 0049 3641 49-2019<br><a class="text-decoration-none" href="mailto:smartcity@jena.de">smartcity@jena.de</a></p>
              </div>
            </div>
          </div>
          <!--/.col-->
          <div class="col-xl-2 col-2 col-sm-12  d-flex d-xl-block mb-5 mb-md-5  justify-content-xxl-start ">
            <div class="d-flex row">
              <div class="col-md-6 col-lg-6 col-xl-12">
                <img src="../assets/logos_Jena/jena-seal-light.svg" class="img-seal" alt="seal">
              </div>
            </div>
          </div>
          <!--/.col-->
          <div class="col-xl-3 col-3 col-sm-12  d-flex d-xl-block mb-5 mb-md-5  justify-content-xxl-start ">
            <div class="d-flex row">
              <div class="col-md-6 col-lg-6 col-xl-12">
                <div>
                  <nav role="navigation" aria-labelledby="block-fusszeile-menu" id="block-fusszeile">
                    <ul class="footer-nav">
                      <li>
                        <a target="_blank" href="https://smartcity.jena.de/impressum">Impressum</a>
                      </li>
                      <li>
                        <a target="_blank" href="https://smartcity.jena.de/datenschutz">Datenschutz</a>
                      </li>
                      <li>
                        <a target="_blank" href="https://smartcity.jena.de/barrierefreiheit">Barrierefreiheit</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!--/.col-->
        </div>
        <!--/.row-->
      </div>
      <!--/.footer-holder-->
      <div class="copyright">
        <div>
        </div>
        <div class="row justify-content-between">
          <div class="col-8">
            <p class="mb-0">© 2023 Stadt Jena</p>
          </div>
          <div class="col-2">
            <img src="../assets/logos_Jena/jena-lichtstadt-light.svg" class="w-100 jena-lichtstadt light-logo" alt="Jena Lichtstadt Logo">
          </div>
        </div>
      </div>
      <!--/.copyright-->
    </div>
    <!--/.container-fluid-->
  </footer>
</div>
</template>

<script>
export default {
  name: 'PiveauFooter',
  inheritAttrs: false,
  props: {},
};
</script>

<style lang="scss">
// @import '../styles/footer.scss';
/***********************************
      LAYOUT & TYPOGRAPHY
  ***********************************/
#piveau-footer .container {
    max-width: 1340px !important;
}
#piveau-footer *:not(.far):not(.fas):not(.fab) {
    font-family: Open Sans,sans-serif;
}
#piveau-footer {
    box-shadow: 0 -10px 10px 10px var(--jena-cyan);
    // margin-top: -15px;
    padding: 60px 0 160px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background: white;
    // background: linear-gradient(0deg, rgba(26,52,113,1) 0%, rgba(0,154,165,1) 100%);
    background-color: white;
    // border-top: var(--jena-cyan) solid 10px;
    // position: absolute;
    // bottom: 0;
}
.img-seal {
    // max-width: 80px
    min-width: 80px;
    max-height: 200px;
}
.footer-nav {
    list-style-type: none;
    padding-left: 0;
}
</style>
