<template>
  <div class="">
      <nav id="piveau-header" class=" navbar-expand-lg navbar-dark" >
        <div id="JenaHeadWrap" class="w-100">
        <div id="jenaPreHeader" class="d-flex justify-content-between bg-white m-auto max-width p-4">
          <div class="img-wrap p-0 justify-content-start">
            <img src="../assets/logos_Jena/jena_lable_blau.jpg" class="w-75" alt="Jena Lichtstadt Logo">
          </div>
         <div class=" overflow-hidden img-wrap justify-content-end">
          <!-- ToDo Need to crop img-->
          <img src="../assets/logos_Jena/JENA_21_0000_Smart_City_Logo_RZ.png" class="w-25" alt="Jena Lichtstadt Logo">
         </div>
        </div>
        <div id="jenaSubHeader" class="p-4">
          <div class="d-flex justify-content-between m-auto max-width">
            <h2 id="headerJenaHeadline" class="text-white p-2 p-md-4"><router-link class="text-white" to="/">WISSENsAllmende Jena - das städtische Datenportal</router-link></h2>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <slot name="logo">
          </slot>
          <div class="collapse navbar-collapse m-auto max-width px-2 px-md-4" id="navbarNav">
          <div class="d-flex justify-content-between w-100">

          <ul class="navbar-nav">
            <li
              v-for="(navItem, i) in navItems"
              :key="`navItem@${i}`"
              class="nav-item text-white"
            >
              <slot name="nav-item" v-bind:nav-item="navItem">
                <component
                  v-if="navItem.to && navItem.show === true"
                  :is="isNuxt ? 'nuxt-link' : 'router-link'"
                  :to="navItem.to"
                  class="nav-link"
                  active-class="router-link-active"
                >
                  {{ navItem.title }}
                </component>
                <a
                  v-else-if="navItem.show === true"
                  :href="navItem.href"
                  class="nav-link text-white"
                >
                  {{ navItem.title }}
                </a>
              </slot>

            </li>

          </ul>

          <div class="ml-5 flex-row ml-md-auto d-md-flex" role="navigation">
            <slot name="right">
              <div class="">
                <a v-if="enableAuthentication"  href="#" class="nav-link router-link-active mr-4" @click="$emit(authenticated ? 'logout' : 'login')">
                  <font-awesome-icon icon="user" /> {{ authenticated ? $t('message.header.subnav.logout') : $t('message.header.subnav.login') }}
                </a>
              </div>

              <div
                  v-if="useLanguageSelector"
              >
                <div class="">
                  <language-selector :languageObject="languageObject" :override-locale="overrideLocale"></language-selector>
                </div>
              </div>
            </slot>
          </div>
        </div>
        </div>
      </div>
      </div>
    </nav>
  </div>
</template>


<script>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import LanguageSelector from './LanguageSelector.vue';

export default {
  name: 'Piveau-Header',
  data() {
    return {
      isNuxt: false,
    };
  },
  components: {
    LanguageSelector,
    FontAwesomeIcon,
  },
  props: {
    project: {
      type: String,
      default: 'hub',
    },
    locale: {
      type: String,
      default: 'en',
    },
    useLanguageSelector: {
      type: Boolean,
      default: true,
    },
    navItemsHook: {
      type: Function,
      default: (navItems) => navItems,
    },
    showDatasets: {
      type: Boolean,
      default: true,
    },
    showCatalogues: {
      type: Boolean,
      default: true,
    },
    showSparql: {
      type: Boolean,
      default: false,
    },
    showMetadataQuality: {
      type: Boolean,
      default: true,
    },
    hrefDatasets: {
      type: String,
      default: undefined,
    },
    hrefCatalogues: {
      type: String,
      default: undefined,
    },
    hrefSparql: {
      type: String,
      default: undefined,
    },
    hrefMetadataQuality: {
      type: String,
      default: undefined,
    },
    languageObject: {
      type: Array,
      default() {
        return []
      }
    },
    headerBackground: {
      default: 'linear-gradient(0deg, rgba(0,154,165,1) 0%, rgba(26,52,113,1) 100%)',
    },
    overrideLocale: {
      type: String,
      default: '',
    },
    enableAuthentication: {
      type: Boolean,
      default: false,
    },
    authenticated: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    navItems() {
      const navItems = [
        /** ToDo add route to landing? Add/change weblate translation */
        {
          title: this.$t('message.header.navigation.data.datasets'),
          href: this.hrefDatasets || `/data/datasets?locale=${this.$route.query.locale}`,
          show: this.showDatasets,
        },
        {
          title: this.$t('message.header.navigation.data.catalogs'),
          href: this.hrefCatalogues || `/data/catalogues?locale=${this.$route.query.locale}`,
          show: this.showCatalogues,
        },
        {
          title: this.$t('message.header.navigation.data.sparqlsearch'),
          href: this.hrefSparql || '/sparql',
          show: this.showSparql,
        },
        /* {
          title: this.$t('message.header.navigation.data.metadataquality'),
          href: this.hrefMetadataQuality || `/mqa?locale=${this.$route.query.locale}`,
          show: this.showMetadataQuality,
        }, */
      ];

      this.adjustNavItemsToProject(navItems, this.project);

      return this.navItemsHook(navItems);
    },
  },
  created() {
    // Check if we are in Nuxt by checking nuxt-only properties in vm
    // https://nuxtjs.org/docs/concepts/context-helpers/#nuxt-the-nuxt-helper
    this.isNuxt = !!this.$nuxt;

  },

  mounted: function() {

  },

  methods: {
    adjustNavItemsToProject(navItems, project) {
      const navigationItems = navItems;
      switch (project) {
        case 'hub':
          if (!this.hrefDatasets) {
            navigationItems[0].to = { name: 'Datasets', query: { locale: this.$route.query.locale } };
          }
          if (!this.hrefCatalogues) {
            navigationItems[1].to = { name: 'Catalogues', query: { locale: this.$route.query.locale } };
          }
          if (!this.hrefSparql) {
            navigationItems[2].to = { name: 'SparqlEdit', query: { locale: this.$route.query.locale } };
          }
          break;
        case 'metrics':
          if (!this.hrefMetadataQuality) {
            navigationItems[3].to = { name: 'Dashboard', query: { locale: this.$route.query.locale } };
          }
          break;
        default:
          break;
      }
    },
  },
};

</script>

<style lang="scss" scoped>
  // @import '../styles/header.scss';

  /***********************************
      LAYOUT & TYPOGRAPHY
  ***********************************/

  #piveau-header{
    box-shadow: 0px 60px 60px 60px white;
  }


  #jenaSubHeader {
      padding-bottom: 60px !important;
      background: var(--jena-cyan);
      background-color: var(--jena-cyan);
      background: rgba(0, 0, 0, 0) linear-gradient(0deg, rgb(0, 154, 165) 0%, rgb(26, 52, 113) 100%) repeat scroll 0 0;
      // background-color: #000;

      .nav-link {
          padding-right: 1.0rem;
          padding-left: 0;
          font-weight: 600;
          font-size: 1.2rem;
      }
  }

  .nav-link {
      color: rgba(255, 255, 255, 1) !important;


      &:hover {
          color: rgba(250, 250, 250, 0.75) !important;
      }
  }


  .max-width {
      max-width: 1340px!important;
  }

  .router-link-active {
      color: rgba(255, 255, 255, 0.9) !important;
      font-size: 1rem;

      &:hover {
          color: rgba(250, 250, 250, 0.9) !important;
      }
  }

  #jenaPreHeader {
      height: auto;
  }

  .img-wrap {
      width: 100%;
      display: flex;
      align-items: center;
  }

  .img-wrap img {
      width: 100%;
  }

  #jenaSubHeader h2 {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: 600;
  }

  #jenaPreHeader {
      background-color: #0000;
  }

</style>
