<!-- LANGUAGE SELECTOR -->

<template>
  <div id="selectWrapJena" class="d-flex text-white align-items-center justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe" viewBox="0 0 16 16">
      <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4a9.267 9.267 0 0 1 .64-1.539 6.7 6.7 0 0 1 .597-.933A7.025 7.025 0 0 0 2.255 4H4.09zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a6.958 6.958 0 0 0-.656 2.5h2.49zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5H4.847zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5H4.51zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12c.138.386.295.744.468 1.068.552 1.035 1.218 1.65 1.887 1.855V12H5.145zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11a13.652 13.652 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5H3.82zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855.173-.324.33-.682.468-1.068H8.5zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5a6.959 6.959 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5h2.49zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4a7.966 7.966 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4h2.355z"/>
    </svg>
    <select id="headerSelectJena" class="text-white p-2 " v-model="locale" aria-label="Selected language" role="listbox">
      <option v-for="lang in Object.keys(languages)" :key="lang" :value="lang">
       {{ languages[lang] }}
      </option>
    </select>
  </div>
</template>

<script>
import isEmpty from 'lodash/isEmpty';

export default {
  name: 'language-selector',
  components: {
  },
  props: {
    initialLocale: {
      type: String,
      default: 'en',
    },
    fallbackLocale: {
      type: String,
      default: 'en',
    },
    languageObject: {
      default: {},
    },
    overrideLocale: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      languages: isEmpty(this.languageObject) ? {
        bg: 'Български (bg)',
        cs: 'čeština (cs)',
        da: 'dansk (da)',
        de: 'Deutsch (de)',
        el: 'Ελληνικά (el)',
        en: 'English (en)',
        es: 'español (es)',
        et: 'eesti (et)',
        fr: 'français (fr)',
        ga: 'Gaeilge (ga)',
        hr: 'Hrvatski (hr)',
        hu: 'Magyar (hu)',
        it: 'italiano (it)',
        lt: 'lietuvių (lt)',
        lv: 'latviešu (lv)',
        mt: 'Malti (mt)',
        nl: 'Nederlands (nl)',
        pl: 'polski (pl)',
        pt: 'português (pt)',
        ro: 'română (ro)',
        sk: 'slovenčina (sk)',
        sl: 'slovenščina (sl)',
        fi: 'suomi (fi)',
        sv: 'svenska (sv)',
      } : this.languageObject,
    };
  },
  computed: {
    locale: {
      get() {
        return this.overrideLocale || this.getLocale() || this.fallbackLocale;
      },
      set(locale) {
        this.$root.$i18n.locale = locale;
        // Wait until router is ready before changing it
        // Necessary when routing to lazy-loaded components
        // Fixes https://gitlab.fokus.fraunhofer.de/viaduct/piveau-ui/piveau-ui/issues/210
        this.$router.onReady(() => {
          if (locale !== this.$route.query.locale) {
            this.$router.push({ query: { ...this.$route.query, locale } });
          }
        });
      },
    },
  },
  methods: {
    initLocale() {
      this.$router.onReady(() => {
        this.locale = this.getLocale();
      });
    },
    getLocale() {
      if (this.$route.query.locale) return this.$route.query.locale;
      // eslint-disable-next-line max-len
      if (navigator && this.languages[navigator?.language.substring(0, 2)]) return navigator.language.substring(0, 2);
      if (this.languages[this.$env.languages.locale]) return this.$env.languages.locale;
      if (this.languages[this.$env.languages.fallbackLocale]) return this.$env.languages.fallbackLocale;
      return Object.keys(this.languages)[0];
    },
  },
  beforeUpdate() {
    this.initLocale();
  },
  mounted() {
    this.initLocale();
  },
};
</script>

<style lang="scss" scoped>
  // @import '../../node_modules/bootstrap/scss/bootstrap.scss';

   #headerSelectJena {
    background: none;
    border: none;
    min-height: 43px;
    font-weight: 600;
    font-size: 1.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
   #headerSelectJena:focus {
    outline: none;
  }
   option{
  color: black;
  }
  #headerSelectJena ::-ms-expand {
    display: none;
  }
  #selectWrapJena svg{
    width:1.5rem;
    height: 1.5rem;
  }
   .language-selector {
    width: 150px;
    padding-right: 56px !important;
  }

  .form-control {
    height: calc(2.25rem + 2px);
  }
</style>
